<!-- <body class="text-center">
  <div class="copy">
    <h1> tattooyou </h1>
    <h2> how about something classic? </h2>
      <div class="button radius">
        <%#<a href="<%= render :partial => "traditional">yes</a>%>
      <div class="button radius">
        <a href"<%= render :partial => "question4" %>">no</a>
      </div>
  </div>
</body> -->