<body class="text-center">
  <div class="copy">
    <h1> tattooyou </h1>
    <h2> are you a wordsmith? </h2>
    <a href="<%=##path to answer_wordy %>" class="button radius">Yes</a>
    <a href="<%=##path to question3 %>" class="button radius">No</a>
</body>