<!-- <body class="text-center">
  <div class="copy">
    <h1> tattooyou </h1>
    <h2> are you a wordsmith? </h2>
      <div class="button radius">
        <%#<a href="<%= render :partial => "answer_words">yes</a> %>
      <div class="button radius">
        <a href"<%= render :partial => "question5" %>">no</a>
      </div>
  </div>
</body> -->