<!-- <body class="text-center">
  <div class="copy">
    <h1> tattooyou </h1>
    <h2> do you consider yourself a bit unconventional? </h2>
      <div class="button radius">
        <%#<a href="<%= render :partial => "answer_quirky">yes</a> %>
      </div>  
      <div class="button radius">
      <a href"<%= render :partial => "question9" %>">no</a>
      </div>
  </div>
</body> -->