<!-- 
<body class="text-center">
  <div class="copy">
    <h1> tattooyou </h1>
    <h2> is there an animal that is meaningful to you? </h2>
      <div class="button radius">
        <%#<a href="<%= render :partial => "answer_animal">yes</a> %>
      </div>  
      <div class="button radius">
      <a href"<%= render :partial => "question8" %>">no</a>
      </div>
  </div>
</body> -->