<body class="text-center">
  <div class="copy">
    <h1> tattooyou </h1>
    <h2> are you proud of where you come from? </h2>
    <a href="<%=##path to question4 %>" class="button radius">Yes</a>
    <a href="<%=##path to answer1 %>" class="button radius">No</a>
</body>