<!-- <body class="text-center">
  <div class="copy">
    <h1> tattooyou </h1>
    <h2> how do you feel about commitment? </h2>
      <div class="button radius">
        <a href"<%= render :partial => "question6" %>">yes</a>
      <div class="button radius">
        <%#<a href="<%= render :partial => "answer_nontattoo" %>
      </div>
  </div>
</body> -->