<!-- <body class="text-center">
  <div class="copy">
    <h1> tattooyou </h1>
    <h2> are you into florals? </h2>
      <div class="button radius">
        <a href"<%= render :partial => "question3" %>">yes</a>
      </div>
      <div class="button radius">
        <a href"<%= render :partial => "question4" %>">no</a>
      </div>
  </div>
</body> -->