<body class="text-center">
  <div class="copy">
    <h1> tattooyou </h1>
    <h2 class="subheading">render a question partial</h2>
    <a href="<%= questions_path %>" class="button radius">Yes</a>
    <a href="<%= questions_path %>" class="button radius">No</a>
  </div>
</body>