<body class="text-center">
  <div class="copy">
    <h1> tattooyou </h1>
    <h2> do you want a colourful tattoo? </h2>
      <a href class="button radius">yes</a>
      <a href class="button radius">no</a>
  </div>
</body>