<body class="text-center">
  <div class="copy">
    <h1> tattooyou </h1>
    <h2 class="subheading">the ultimate tattoo reccomendation quiz</h2>
    <a href="<%= questions_path %>" class="button radius">Enter</a>
  </div>
</body>